<ul class="list card">
	<li class="item item-thumbnail-left " >  
		<img data-ng-src="./img/jake/appimg/avatar.jpg" />
		<h2><b>{{data}}</b></h2>
		<p> </p>
		<p><i class="icon ion-email" data-ng-if="customerDetail.emaiL" style="font-size: 25px;vertical-align: middle"></i> {{customerDetail.email.value}}</p>
	</li>
	<li class="item item-toggle item-icon-left ">
		<i class="icon ion-card"></i>
	<span class="subhead1">SSNTIN</span>
		<span class="item-note">
			{{customerDetail.SSNTINMask}}
			 <label class="toggle toggle-positive">
			   <input type="checkbox" data-ng-model='mask' data-ng-change="toggleChange()">
			   <div class="track">
				 <div class="handle"></div>
			   </div>
			 </label>
		</span>
	</li>
	<li class="item item-divider item-icon-left item-icon-right">
		<i class="icon ion-home"></i> ADDRESS
		<div class="icon " data-ng-click="showAddicon = !showAddicon;showAddress=!showAddress;">
		<button class=" ion-plus-round" data-ng-show="!showAddicon"  ></button>
		  <button data-ng-show="showAddicon" class=" ion-minus-round" ></button>
		</div>
	</li>
	<li class="item" data-ng-show="showAddress">                    
		<div class="marLeft">
			<div data-ng-if="(customerDetail.address.addressLine1)"><span class="subHead">AddressLine1:</span> {{customerDetail.address.addressLine1}}</div>
			<div data-ng-if="(customerDetail.address.city)"><span class="subHead">City:</span> {{customerDetail.address.city}}</div>
			<div data-ng-if="(customerDetail.address.state.code)"><span class="subHead">State:</span> {{customerDetail.address.state.code}}</div>
			<div data-ng-if="(customerDetail.address.postalArea)"><span class="subHead">PostalArea:</span> {{customerDetail.address.postalArea}}</div>
			<div data-ng-if="(customerDetail.address.country.value)"><span class="subHead">Country:</span> {{customerDetail.address.country.value}}</div>	
		</div>
	</li>
	<li class="item item-divider">RECENT ACTIVITIES</li>
   <div class="swiper-wrapper-main">
    <ks-swiper-container initial-slide="3" speed="2000" loop="true" show-nav-buttons="true" slides-per-view="3" space-between="3" pagination-clickable="false" centeredSlides = "false" override-parameters="{effect: 'coverflow',coverflow: {rotate: 10,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}"  on-ready="onReadySwiper(swiper)">
            <ks-swiper-slide class="swiper-slide"  data-ng-repeat="recentActivities in cdc.recentActivities">
            
            <div class = "activity-container">
            <div class = "activity-content-wrapper"> 
              <span class = "activity-content-title">{{recentActivities.taskDescription}}</span> <br><br>
              <span class = " activity-content-date">Date Of Occurrence : {{recentActivities.Date}}</span><br>
              <span class="activity-desc-title">{{recentActivities.CustomerNote}}</span>
              <div data-ng-if = "recentActivities.Status == 'completed'" >
                 <span class = "activity-desc"> User requested more information about the Home Mortgage rates </span> 
              </div>
              <div data-ng-if = "recentActivities.Status == 'pending'" >
                <span class = "activity-desc"> User requested cheque book to be delivered at Home address </span> 
              </div> 
              </div>

            <!--  <div ng-switch on="recentActivities.Category">
                  <div ng-switch-when="note">
                       <img class="activity-icon" src ="../img/jake/svgs/note_icon.jpg"> 
                  </div>
                  <div ng-switch-when="Oppurtunity">
                       <img class="activity-icon" src ="../img/jake/svgs/opportunity-icon.png">  
                  </div>
                  <div ng-switch-when="transaction">
                      <img class="activity-icon" src ="../img/jake/svgs/transaction-icon.jpg"> 
                  </div>
                  <div ng-switch-default>
                      <img class="activity-icon" src ="../img/jake/svgs/note_icon.jpg"> 
                  </div>
              </div> -->

            </div>
			
            </ks-swiper-slide>  
        </ks-swiper-container>
        </div>
</ul>
