<!DOCTYPE html>
<html ng-app="starter">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>ConnectLite Application...</title>

	<link href="css/ionicons.min.css" rel="stylesheet">

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

<!-- Carousal --> 
<link href="lib/swiper/dist/css/swiper.min.css" rel="stylesheet"/>    
    <script src="lib/swiper/dist/js/swiper.js"></script>
    <script src="lib/angular-swiper/dist/angular-swiper.js"></script>   
    

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

</head>
<body ng-controller="BusinessProductsController as bpc">
    <ion-pane>
    <ion-header-bar class="bar bar-header bar-positive">
		
			<div class="buttons">
				<a href="#" ng-click="displaycustomers(); openModal()">
					<span style="font-size: 250%;" class=" ion-ios-bell" data-pack="ios" data-tags="right">
					<span class="badge badge-assertive hide">{{customercount}}</span>
					</span>
				</a>
			</div>
			<h1 class="title titlealign">BOA ConnectLite Application</h1>
			<div class="buttons">
				<button class="icon ion-ios-person"> JOHN BAKER</button>&nbsp;<button class=" icon ion-log-out" title="logout"></button>
			</div>
		
    </ion-header-bar>
<ion-content>
<div class="row responsive-md">

    <div class="col col-50 col-right"> 
    <div class="recommendedProducts text-center">Recommended Products</div>
              <div class="swiper-wrapper-main">
                     <ks-swiper-container initial-slide="3" speed="2000" loop="true" show-nav-buttons="true" slides-per-view="3" space-between="3" pagination-clickable="false" centeredSlides = "true" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}">
                     <ks-swiper-slide class="swiper-slide" ng-repeat="s in ['chase4.png','chase6.png','chase5.png','chase4.png','chase3.png','chase6.png','chase3.png'] track by $index">
                       <img class="center" ng-src="img/jake/appimg/{{s}}">
                     </ks-swiper-slide>                
                     </ks-swiper-container>
              </div> 
    </div>
    
    <div class="col col-50 noborder-right col-right">  
    <div class="searchClientText text-center">Lookup Your Client</div>
    <form name="searchform" class="searchClientForm">
    <!-- <div class="req">* Required field</div> -->
    <div class="item item-input-inset">
      <label class="item item-input-wrapper">          
      <input type="text" placeholder="First Name (Required)" ng-model="bpc.user.FirstName" ng-required=true>
      </label>&nbsp;
      <label class="item item-input-wrapper">          
      <input type="text" placeholder="Last Name" ng-model="bpc.user.LastName">
      </label>
     
   </div>
   <div class="item item-input-inset">
    <button ui-sref="search" class="button ion-ios-search" ng-click="openModal();displaycustomers();" ng-disabled="searchform.$invalid"> Search</button>
   </div>     
        </form>      
   </div> 

</div>
<div ui-view>
<h1 class="welcome-message text-center">Welcome to BOA Connect Lite</h1>
<h3 class="welcome-message1 text-center">Serve and Engage with your Clients Better</h3>
</div>
</ion-content>


<ion-footer-bar align-title="center" class="bar-dark">
  <div class="buttons">
  </div>
  <h1 class="title">Paychex Internal Application v1.0</h1>
  <div class="buttons" ng-click="doSomething()">
  </div>
</ion-footer-bar>
</ion-pane>
<!-- your app's js -->
<script src="dist/app.js"></script>

</body>
</html>
